page-local-weather {
    .order{
        margin-top: 150px;
        text-align: center;
    }
    ion-card{
        border-radius: 0px!important;
    }
    .label{
        margin: 0;
    }
    .item{
        padding: 0;
    }
    ion-thumbnail img {
        width: 100px;
        height: 100px;
    }
    .titles h3{
        line-height: 2;
    color: #737272;
    font-weight: 600;
    }
    .qty h3{
        line-height: 2;
        color: #737272;
    text-align: right
    }
    .grid{
        padding: 0;
    }
    .card-header{
        padding: 0;
        font-size: 14px;
        color: #737272;
        margin: 1px 5px;
        border-bottom: 1px solid silver;
    }
    .text-2x{
        float: right;
        margin-top: -15px;
    }
    .increase .col{
        padding-right: 0;
        padding-left: 0;
        font-size: 18px;
    }
    .card-header label{
        font-size: 10px;
        color: red;
    }
}