<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Cart</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="common-bg">
    <div class="order" *ngIf="!hasOrder;else other_content" >
        <a class="schedule" href="#">
            <img src="assets/img/cart.png">
        </a>
        <h3>Your cart is empty</h3>
    </div>  
    <ng-template #other_content>
<ion-card>
        <ion-list>
                <ion-item>
                    <ion-grid>
                        <ion-row >
                                <ion-col class="titles">
                                        <h3>Product Charges</h3>
                                    <h3>Item</h3>
                                </ion-col >
                                <ion-col class="qty">
                                <h3>{{total}} Rs</h3>
                                <h3>{{totalItems}} pc.</h3>
                        </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
              </ion-list>
</ion-card>
<ion-card *ngFor="let cart of suit ; let i = index; trackBy: customTrackBy">
        <ion-card-header >
                {{cart.product}}
                <br>
                <label >{{cart.error}}</label>

                <ion-icon name="trash" class="text-2x" tappable item-end (click)="removeItem(cart.product_id)"></ion-icon>
              </ion-card-header>
        <ion-list>
                <ion-item>
                    <ion-grid>
                        <ion-row >
                            <ion-col>
                                    <ion-thumbnail item-start>
                                            <img src="{{URL+cart.product_image}}">
                                          
                                          </ion-thumbnail>
                            </ion-col>
                                <ion-col class="titles">
                                    <h3>Price</h3>
                                    <h3>Quantiy<span></span></h3>
                                </ion-col >
                                <ion-col class="qty">
                                <h3>{{cart.price}} INR</h3>
                                <h3></h3>
                                <ion-row class="increase">
                                        <ion-col  text-center>
                                          <ion-icon name="remove-circle" tappable (click)="minus(i,cart.quantity,cart.stock_quantity)" color="navbars"></ion-icon>
                                        </ion-col>
                                        <ion-col  text-center >{{cart.quantity}}</ion-col>
                                        <ion-col  text-center>
                                          <ion-icon name="add-circle" tappable (click)="plus(i,cart.quantity,cart.stock_quantity)" color="navbars"></ion-icon>
                                        </ion-col>
                                      </ion-row>
                        </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
              </ion-list>
    </ion-card>
<button ion-button block (click)="checkout()">Confirm</button>
</ng-template>
</ion-content>
