page-login,
.login {
    
    @import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Fredoka+One|Righteous');
    @import url('https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet');

    ion-item {
        border-radius: 0px !important;
        padding-left: 0px !important;
        margin-bottom: 15px !important;
        color: #fff !important;
        background-color: white !important;
        opacity: .8;
        border: 1px solid #1dbd1d;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
    }
    h2{
        color: #1ebd1e;
        font-family: 'Berkshire Swash', cursive;
    font-weight: 700;
    font-size: 32px;
    }
    h5{
      
        font-family: 'Gamja Flower', cursive;
    font-weight: 700;
    font-size: 16px;
    text-transform: lowercase;
    }
    h3{
        color: #070767;
        margin: 75px 0;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
    ::-webkit-input-placeholder {
        color:#535455 !important;
        font-weight: 600;
          }
          .text-input-md, .text-input-ios{
              margin: 0;
              line-height: 2;
  
          }
          .item-inner {
                  border-bottom: 0 !important;
                  box-shadow: none !important;
                 }
                 .icons{
                    color: #1dbd1d;
                    margin: 0px 6px 0px 6px !important;
                } 
                .animated {
                   margin-bottom: 100px;
                }
                .label-md, .label-ios{
                    text-transform: uppercase!important;
                    text-align: center;
                    font-size: 12px;
                }
                .auth-page .list-form ion-item input {
                    color: #383535!important;
                }
                .auth-page::after {
                    background-image: none!important;
                }
}