<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <h2 ion-text>Abrish</h2> 
      <h5 ion-text>WholeSaler of Pakistani Suits</h5> 
      <h3 ion-text>App for Shopkeepers</h3>
    </div>

    <!-- Login form -->
    <form class="list-form">
        <ion-label color="dark">Enter your registered mobile Number</ion-label>
        <ion-label color="danger">{{error}}</ion-label>
      <ion-item>
         
        <ion-input type="text" placeholder="Enter Number" name="phone" [(ngModel)]="phone"></ion-input>
        <ion-icon class="icons" name="phone-portrait" item-start></ion-icon>
      </ion-item>
    </form>

   

    <div>
      <button ion-button icon-start block color="dark" tappable (click)="login()">
        <ion-icon name="log-in"></ion-icon>
        Continue
      </button>
    </div>
  </div>
</ion-content>
