page-order{
  .order{
    margin-top: 150px;
    text-align: center;
}
ion-card{
  border-radius: 0px!important;
}
.label{
  margin: 0;
}
.item{
  padding: 0;
}
ion-thumbnail img {
  width: 100px;
  height: 100px;
}
.titles h3{
  line-height: 2;
color: #737272;
}
.qty h3{
  line-height: 2;
  color: #1dbd1d;
text-align: right
}
.grid{
  padding: 0;
}
.card-header{
  padding: 0;
  font-size: 14px;
  color: #737272;
  margin: 1px 5px;
  border-bottom: 1px solid silver;
  font-weight: bold;
}
.text-2x{
  float: right;
}
.increase .col{
  padding-right: 0;
  padding-left: 0;
  font-size: 18px;
}
.badge-md-secondary {
  color: #fff;
  background-color: #fd0c0c;
  border-radius: 50%;
}
.some{
  background: white;
    margin: 10px;
    font-weight: 600;
    color: #4e9cde;
    padding: 2px;
}
}



