<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Order</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="checkout-trip common-bg">
   <div class="order" *ngIf="!hasOrder;else other_content" >
    <a class="schedule" href="#">
        <img src="assets/img/cart.png">
    </a>
    <h3>No Order History</h3>
</div>  
<ng-template #other_content>
        <ion-label class="some">{{message}}  </ion-label>      
<ion-card *ngFor="let order of orders" (click)="details(order.id)">
    <ion-card-header>
           OID {{order.id}}
                      
          </ion-card-header>
    <ion-list>
            <ion-item>
                <ion-grid>
                    <ion-row >
                        
                            <ion-col class="titles">
                                <h3>Total</h3>
                                <h3>Items</h3>
                                <h3>Status</h3>
                                <h3>Order Date</h3>
                            </ion-col>
                            <ion-col class="qty">
                            <h3>{{order.total}} INR</h3>
                            <h3>{{order.items}} Pcs.</h3>
                            <h3>{{order.status}}</h3>
                            <h3>{{order.created_at}}</h3>
                            
                            </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
          </ion-list>
</ion-card>
</ng-template>
  <!-- <button ion-button class="round" color="primary" margin-top full tappable (click)="send()">SEND</button> -->
</ion-content>
