page-home,
.home {
  ion-list {
    border-radius:0px;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
    
  }
  ion-card {
    position: relative;
    margin: 0;
    border-radius: 0px!important;
    border: 1px solid white; 
  }

  .card-title {
    position: absolute;
    top: 85%;
    font-size: 16px;
    margin-left: 5px;
    width: 100%;
    text-align: left;
    color: #fff;
    background: hsla(0, 4%, 26%, 0.67);
    opacity: .9;
  }
  h1{
    padding: 0px 8px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px dashed #1dbd1d;
    line-height: 2;
    color: #1dbd1d;
    text-align: center;
    margin: 5px 0;
  }
  .fb{
    border: 1px solid #3b5998!important;
    color: #3b5998!important;
    font-weight: 600!important;
    -webkit-font-smoothing: antialiased!important;
    border-radius: 0px!important;
    box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15)!important;
  }
  .whatsapp{
    font-weight: 600!important;
    -webkit-font-smoothing: antialiased!important;
    border-radius: 0px!important;
    box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15)!important;
  }
  .label-md, .label-ios{
    margin: 0;
}
ion-card h3{
  margin: 0 0 2px!important;
  font-size: 1.6rem !important;
  font-weight: normal !important;
  color: #757171 !important;
  text-transform: uppercase;
}
ion-card p {
  margin: 0 !important;
  color: #767272 !important;
  font-weight: 500 !important;
  text-transform: capitalize;
}
.fixed-btn{
  position: fixed;
  bottom: 0px;
  right: 0px;
  line-height: 2;
  background: white;
  color: black;
  font-weight: 600;
}
.searchbar-ios{
  background: white;
  margin-right: auto;
  margin-left: auto;
  width: 94%;
}
.item-md .item-inner {
  border-bottom: none!important;
}
.item-md, .item-ios{
  color: white!important;
  background: transparent!important;
}
.toolbar-background-md {
  border-color: #b2b2b2;
  background: transparent;
}
.header-md::after{
  background-image:none;
}
.badge-md-secondary {
  color: #fff;
  background-color: #fd0c0c;
  border-radius: 50%;
}
ion-card img {
  object-fit: cover;
  object-position: 0% 0%;
  height: 280px;
}
}
