<!-- -->
<ion-header>
  <ion-navbar color="navbars">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item>
        <ion-icon name="search" (click)="searchActive=!searchActive" item-right></ion-icon>
    </ion-item>
    <ion-buttons end>
      <button ion-button tappable (click)="myorder()">
        <ion-badge color="secondary" item-start>{{cartProducts}}</ion-badge><ion-icon name="cart" style="font-size: 30px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="searchActive">
      <ion-searchbar name="search" placeholder="Type SKU Here..."  [(ngModel)]="keyword" (keyup)="search($event.keyCode,keyword)"  margin-bottom></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn common-bg">
    <ion-slides class="to-top" *ngIf="images && images.length" pager autoplay="2000" loop="true"> 
        <ion-slide *ngFor="let image of images">
          <img [src]="image" alt="">
        </ion-slide>
      </ion-slides>
  <h1>Categories <ion-icon name="arrow-down" item-end></ion-icon></h1>
  
  <ion-card *ngFor="let cat of categories" class="animated fadeInDown" >
      <img img-cache img-cache-src="{{URL+cat.category_image}}" (click)="view(cat.id)">
      <ion-row>
        <ion-col>
            <div>
              <h3><strong>{{cat.category_name}}</strong></h3>
              <p>{{cat.description}}</p>
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <button ion-button icon-left block outline class="whatsapp" (click)="whatsappShare(cat.id)">
                  <ion-icon name="logo-whatsapp"></ion-icon>
                  <div>SHARE ALL</div>
                </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left block outline class="fb" (click)="view(cat.id)">
              
              <div>VIEW PRODUCTS</div>
            </button>
          </ion-col>
        </ion-row>
    </ion-card>
      
          <button ion-btn circle class="fixed-btn">
              help?
            <ion-icon color="navbars" name="logo-whatsapp" class="text-2x" (click)="whatsappSendMessage()" item-end></ion-icon>
          
          </button>
</ion-content>
