<!-- -->
<ion-header>
  <ion-navbar color="primary">
   
    <ion-buttons end>
        <button ion-button tappable (click)="myorder()">
          <ion-badge color="secondary" item-start>{{cartProducts}}</ion-badge><ion-icon name="cart" style="font-size: 30px;"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="suits">
  <h1>{{catName}}</h1>
  <ion-searchbar name="search" placeholder="Type SKU Here..." margin-bottom [(ngModel)]="keyword" (keyup)="search($event.keyCode,keyword)"></ion-searchbar>
  <ion-card>
    
      <ion-grid>
          <ion-row>
              <ion-col col-10 class="selectable">
                  <ion-card-header>
                      
                    </ion-card-header>
                      <ion-card-content>
                          <ion-item>{{catDescription}}</ion-item>
                         
      </ion-card-content>
              </ion-col>
              <!-- <ion-col col-2 class="copy">
<button ion-button clear>  <ion-icon name="copy" (click)="copyContent(catDescription)"></ion-icon></button>
              </ion-col> -->
            </ion-row>
      </ion-grid>

    </ion-card>

  <ion-grid>
      <ion-row class="all-share">
          <ion-col>
              <button ion-button icon-left block outline class="whatsapp" (click)="whatsappShareAll(catid)">
                  <ion-icon name="logo-whatsapp"></ion-icon>
                  <div>SHARE ALL PRODUCTS</div>
                </button>
          </ion-col>
          <!-- <ion-col>
            <button ion-button icon-left block outline class="fb">
              <ion-icon name="logo-facebook"></ion-icon>
              <div>Facebook</div>
            </button>
          </ion-col> -->
        </ion-row>
  </ion-grid>
  <ion-card *ngFor="let suit of suitlist;let i=index;" class="animated fadeIn">
      <div (click)="showImage(suit.product_image)" >
      <img img-cache img-cache-src="{{URL+suit.product_image}}">
    </div>
  <ion-grid>
    <ion-row>
      <ion-col>
          <div>
            <h3><strong>{{suit.product_name}}</strong></h3>
            <p>Price: {{suit.product_price}} INR</p>
          </div>
      </ion-col>
      <ion-col>
        <div text-center>
          <p style="margin:0;">SKU: {{suit.sku}}</p>
        </div>
    </ion-col>
    
    </ion-row>
    <ion-row>
      <ion-col class="aligns">
        
        <button ion-button icon-left block (click)="buyproduct(i,suit.id,suit.product_name,suit.product_price,suit.sku,suit.product_image,suit.stock_quantity)">
          <ion-icon name="cart"></ion-icon>
          <div>{{suit.cartButtonText}}</div><br>
         
        </button>
       
        
      </ion-col>
        <ion-col>
            <button ion-button icon-left block outline class="whatsapp" (click)="whatsappShare(i)" >
                <ion-icon name="logo-whatsapp"></ion-icon>
                <div>Share</div>
              </button>
        </ion-col>
    
          <!-- <button ion-button icon-left block outline class="fb" (click)="facebookShare(i)">
            <ion-icon name="logo-facebook"></ion-icon>
            <div>Facebook</div>
          </button> -->
  
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
