<ion-menu side="left" id="authenticated" [content]="content">
    <ion-header>

    <ion-toolbar class="user-profile">

        <ion-grid>
          <ion-row>
            <ion-col col-12 class=" text-center">
              <h2 ion-text class="no-margin text-white text-center">
                {{phone}}
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </ion-toolbar>
    </ion-header>

  <ion-content color="navbars">

    <ion-list class="user-list">
      <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
        <span ion-text color="primary">{{menuItem.title}}</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
