<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <span ion-text>Order Items</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="suits">
  <ion-card *ngFor="let item of items" >
    <ion-card-header>
        OID {{item.order_id}} -- {{item.product}}
            
          </ion-card-header>
    <ion-list>
            <ion-item>
                <ion-grid>
                    <ion-row >
                        <ion-col>
                                <ion-thumbnail item-start>
                                        <img src="{{URL+item.product_image}}">
                                      
                                      </ion-thumbnail>
                        </ion-col>
                            <ion-col class="titles">
                                <h3>Price</h3>
                                <h3>Items</h3>
                                
                            </ion-col>
                            <ion-col class="qty">
                            <h3>{{item.price}} INR</h3>
                            <h3>{{item.quantity}} Pcs.</h3>
                            
                            
                            </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
          </ion-list>
</ion-card>
</ion-content>
