page-orderitems{

ion-card{
  border-radius: 0px!important;
}
.label{
  margin: 0!important;
}
.item{
  padding: 0!important;
}
.titles h3{
  line-height: 2 !important;
  color: #737272 !important;
  margin: 2px 0px!important;
}
.qty h3{
  line-height: 2 !important;
  color: #737272 !important;
  margin: 2px 0px!important;
  text-align: right;
}
.grid{
  padding: 0!important;
}
.card-header{
  padding: 0!important;
  font-size: 14px!important;
  text-align: left!important;
  color: #737272!important;
  margin: 1px 5px!important;
  border-bottom: 1px solid silver!important;
}
.increase .col{
  padding-right: 0!important;
  padding-left: 0!important;
  font-size: 18px!important;
}
.item-md ion-thumbnail[item-start] {
   margin: 0!important;
   height:50px;
}
.badge-md-secondary {
  color: #fff;
  background-color: #fd0c0c;
  border-radius: 50%;
}
}
