page-suits,
.suits {
  ion-card {
    border-radius: 0px;
  }
.suits h1{
  padding: 0px 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px dashed #1dbd1d;
    line-height: 2;
}
ion-card h3{
  margin: 0 0 2px!important;
  font-size: 1.6rem !important;
  font-weight: normal !important;
  color: #757171 !important;
  text-transform: uppercase;
}
  ion-card h2{
    float: right;
    padding-right: 5px;
    font-size: 22px;
  }
  .fb{
    border: 1px solid #3b5998!important;
    color: #3b5998!important;
    font-weight: 600!important;
    -webkit-font-smoothing: antialiased!important;
    border-radius: 0px!important;
    box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15)!important;
  }
  .whatsapp{
    font-weight: 600!important;
    -webkit-font-smoothing: antialiased!important;
    border-radius: 0px!important;
    box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15)!important;
  }
  .label-md, .label-ios{
    margin: 0;
}
.aligns{
  text-align: right;
  margin-top: 0px;
}
ion-card p {
  margin: 5px 0px 0px;
  color: #767272;
  font-weight: 500;
}
.all-share{
  background: white;
  box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
}
.card-header{
  padding: 0;
  text-align: center;
  color: #988f8f;
}
.card-content{
  padding: 0;
}
.item{
  text-align: center;
  min-height: 3rem!important;
  color: #868181;
}
.copy button{
  font-size: 24px;
  margin: 30px 15px 0px;
  padding: 0;
  color: #888686;
}
.searchbar-ios{
  background: white;
  margin-right: auto;
  margin-left: auto;
  width: 94%;
}
.selectable{
  -webkit-user-select: auto;
}
.badge-md-secondary {
  color: #fff;
  background-color: #fd0c0c;
  border-radius: 50%;
}
.aligns button{
  box-shadow:0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15) !important;
  border-radius: 0px;
}
ion-card img {
  object-fit: cover;
  object-position: 0% 0%;
  height: 280px;
}
ion-label {
  margin: 0;
  display: block;
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: initial; 
  font-size:12px;
}
}
