<ion-list class="no-margin">
  <ion-list-header class="no-margin">
  	<ion-icon name="share"></ion-icon>
  	<span ion-text  class="bold">Shares</span>
  </ion-list-header>
  <button ion-item class="text-1x" tappable (click)="close()">
  	<ion-icon name="logo-whatsapp" color="navbars"></ion-icon> 
  	WhatsApp
  </button>
  <button ion-item  class="text-1x" tappable (click)="close()">
  	<ion-icon name="logo-facebook"></ion-icon> 
  	Facebook Messenger
  </button>
</ion-list>
